@import url(variables.css);
html,
body,
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--secondary);
}
:root {
  --black: #000;
--white: 	#FFFFFF


}
.darkmode {
  --primary: var(--white);
  --secondary: var(--black);
}
.lightmode {
  --primary: var(--black);  
  --secondary: var(--white);

}
.hero {
  background-color: var(--secondary);
}
.main { 
  background-color: var(--secondary);
  height: 90vh;
}

h1 {
  font-size: 7.594rem;
  text-align: center;
}


p{
  justify-content: center;
  display: flex;
}