  
  .container-box {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin: 2%;
  }
  
  .inner {
    background-color: var(--secondary);
    border: 8px solid;
    border-radius: 10%;
    width: 43rem;
    height: 50rem;
    margin: 2%;
    align-content: flex-end;
    box-shadow: 2em 2em 2em;
  }
  
  img {
    width: 80%;
    height: 70%;
    margin: 10%;
  }
  



.btn,
.btn:link,
.btn:visited {
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 1rem auto;
  font-size: 2rem;
  background-color: lightcoral;
  border-radius: 10rem;
  transition: all 0.2s;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}
